*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.less text eol=lf
*.sass text eol=lf
*.styl text eol=lf
*.stylus text eol=lf
*.vue text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tsconfig text eol=lf
*.jsconfig text eol=lf
*.editorconfig text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
*.gitmodules text eol=lf
*.env text eol=lf
*.env.* text eol=lf
*.env.development text eol=lf
*.env.production text eol=lf
*.env.test text eol=lf
*.env.staging text eol=lf
*.env.local text eol=lf